<div class="row">
        <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Add Products
            </header>
            <div class="panel-body">
                <form class="form-horizontal bucket-form" method="POST" action="/addproduct">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Product Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="proname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Product ID</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="proid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Product Price</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="proprice">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Category</label>
                        <div class="col-sm-6">
                            <select name="procategory" class="form-control m-bot15">
                                {{#each category}}
                                <option value="{{this.cateid}}">{{this.cate_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Product Description</label>
                        <div class="col-sm-6">
                            <textarea rows="10px" class="form-control" name="prodes"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label style="color: red;">{{status}}</label>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>  